appver.pri
Makefile
Makefile.*
debug/*
object_script.semaphored.*
*.o
moc_*.cpp
qrc_*.cpp
semaphored
*.pro.user
build-stamp
configure-stamp
debian/semaphored.debhelper.log
debian/files
*.substvars
rpm/*
semaphored.changes
install/*
release/*
debian/changelog
*.autosave
doc/tmp/*
