Source: semaphored
Section: editors
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.7.4), git-core
Standards-Version: 3.7.3
Homepage: http://semaphored.safrm.net/

Package: semaphored
Architecture: any
Depends: libqt4-core, libqt4-gui, libqt4-network, libqt4-xml, libqt4-svg, ${misc:Depends},  ${shlibs:Depends}
Description: notes dashboard used for planning 
	it can be used to create valued object charts or kanban dashboards or simple uml static charts
